<html>
<head>
	<title><%= title %></title>
</head>
<body>
<h1>Welcome to Neo4j!<h1>

Add Node!
<hr>
<form method="POST" action="/neo4j/insertNode">
	Name : <input name="name"><br>
	Emp id : <input name="empid"><br>
	<input type="submit" value="Submit">
</form>

<hr>

<form method="POST" action="/neo4j/getNodeById">
Search Node ID : <input name="nodeid"><br>
<input type="submit" value="Submit">
</form>

</body>
</html>